# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# MongoDB
# DATABASE_URL="mongodb+srv://test:test@cluster0.ns1yp.mongodb.net/myFirstDatabase"

# Postgres Example
# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# SQLServer
# DATABASE_URL="sqlserver://localhost:1433;database=mydb;user=sa;password=r@ndomP@$$w0rd;trustServerCertificate=true"

# MySQL Example
DATABASE_URL="mysql://root:root@localhost:3306/next-prisma"

# ADMIN USER SYSTEM
USER_ADMIN_NAME="Fabio Messias Dias"
USER_ADMIN_EMAIL=mfabiodias@gmail.com
USER_ADMIN_PASSWORD=123456