# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# MongoDB
# DATABASE_URL="mongodb://root:example@localhost:27017"

# Postgres Example - Tested
# DATABASE_URL="postgresql://default:secret@localhost:5432/default?schema=public"

# SQLServer - Tested
# DATABASE_URL="sqlserver://localhost:1433;database=master;user=sa;password=yourStrong(!)Password;trustServerCertificate=true"

# MySQL Example - Tested
DATABASE_URL="mysql://root:root@localhost:3306/next-prisma"

# ADMIN USER SYSTEM
USER_ADMIN_NAME="Fabio Messias Dias"
USER_ADMIN_EMAIL=mfabiodias@gmail.com
USER_ADMIN_PASSWORD=123456